image:
  pullPolicy: IfNotPresent
  repository: lscr.io/linuxserver/pyload-ng
  tag: latest@sha256:3f324e96ade48da3b4202d6fe853ae98c3150bc4021106a213b081a639d88376
persistence:
  config:
    enabled: true
    mountPath: /config
  pathdownloads:
    enabled: true
    mountPath: /downloads

securityContext:
  container:
    readOnlyRootFilesystem: false
    runAsGroup: 0
    runAsUser: 0
service:
  main:
    ports:
      main:
        port: 8000
        protocol: http
        targetPort: 8000
  port9666:
    enabled: true
    ports:
      port9666:
        enabled: true
        port: 9666
        protocol: tcp
        targetPort: 9666
workload:
  main:
    podSpec:
      containers:
        main:
          env:
